<h1>Login</h1>
<%= simple_form_for(@user, url: sessions_path) do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>
    <% if @message %>
        <p style="color: red;"><%= @message %></p>
    <% end %>
    <%= f.submit %>
<% end %>