<div id="offers-index-container">
    <div id="offers-cards-container">
            <% @offers.each do |offer| %>
                <div class="offer-card">
                    <p class="offer-title"><%= "#{offer.brand} - #{offer.model}" %></p>
                    <div class="color-fuel-horsepower">
                        <p class="color"><%= offer.color %></p>
                        <p class="fuel"><%= offer.fuel_mode %></p>
                        <p class="horsepower"><%= "#{offer.horsepower} hp" %></p>
                    </div>
                    <%= cl_image_tag offer.photo.key, width: 320, height: 180, crop: 'fill' %>
                    <div class="price-age">
                        <p class="price"><span class="main-price"><%= "$#{offer.price_per_day}" %></span> / day</p>
                        <p class="age"><%= "#{offer.min_age} Years old Min." %></p>
                    </div>
                </div>
            <% end %>
    </div>
</div>